*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(10px, 20px, 24px);
}
th{
    font-size: clamp(10px, 14px, 24px);
}
tr{
    font-size: clamp(10px, 14px, 24px);
}
td{
    font-size: clamp(10px, 14px, 24px);
}
label{
    font-size: clamp(10px, 14px, 24px);
}
.btn{
    font-size: clamp(10px, 14px, 24px);
}
.btn i{
    font-size: clamp(10px, 14px, 24px);
}
.form-control{
    font-size: clamp(10px, 14px, 24px);
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: #141518;

}
::-webkit-scrollbar-thumb{
    background-color: #141518;
    border-radius: 10px;
    border: 1px solid #00B9EF;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #00B9EF;
}
::selection{
    background-color: #00B9EF;
    color: #1f242d;
}
#scroll {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    bottom: 20px;
    right: 10px;
    width: 2.5vw;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 100%;
    background-color: #141518;
    border: 1px solid #00B9EF;
    aspect-ratio: 1/1;
    color: #00B9EF;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 100;
  }
   #scroll-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #141518;
  } 
body{
    background-color: #E9ECEF;
    background: url("../assets/image/sara-web-header-08.jpg")center no-repeat;
    background-size: cover;
    height: 100vh;
}
.dashboard>.container>.row:first-child{
    margin-top: 15%;
}
.card-TC{
    background-color: #00B9EF;
    height: 150px;
    margin-top: 10%;
}
.card-TI{
    background-color: #009C51;
    height: 150px;
    margin-top: 10%;
}
.card-TO{
    background-color: #E88A11;
    height: 150px;
    margin-top: 10%;
}
.card-TC p{
    color: #fff;
    font-weight: 600;
    position: relative;
    padding: 5%;
}
.card-TI p{
    color: #fff;
    font-weight: 600;
    position: relative;
    padding: 5%;
}
.card-TO p{
    color: #fff;
    font-weight: 600;
    position: relative;
    padding: 5%;
}
#TC-footer{
    width: 100%;
    height: 20px;
    background-color: #0CA3D6;
    position: relative;
    bottom: 10%;
}
#TI-footer{
    width: 100%;
    height: 20px;
    background-color: #088B49;
    position: relative;
    bottom: 10%;
}
#TO-footer{
    width: 100%;
    height: 20px;
    background-color: #D48013;
    position: relative;
    bottom: 10%;
}
.dashboard h1{
    color: #fff;
    padding-left: 5%;
    position: relative;
    top: 15%;
}
.timeCard{
    border-radius: 30px;
    background-color: #fff;
    height: 200px;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#digitalTimeLabel{
    font-size: 60px;
}
.customer{
    position: relative;
    bottom: -60%;
    padding: 20px 15%;
    margin-top: 5%;
}
.customer>p{
    color: grey;
    font-weight: 600;
    font-size: clamp(30px, 60px, 80px);
    opacity: .5;
}
hr{
    margin-top: 5%;
    margin-bottom: 5%;
    border: 5px solid #0CA3D6;
    background-color: #0CA3D6;
}
.item{
    position: relative;
    bottom: -60%;
    padding: 20px 15%;
    margin-top: 5%;
}
.item>p{
    color: grey;
    font-weight: 600;
    font-size: clamp(30px, 60px, 80px);
    opacity: .5;
}
.order{
    position: relative;
    bottom: -60%;
    padding: 20px 15%;
    margin-top: 5%;
}
.order>p{
    color: grey;
    font-size: clamp(30px, 60px, 80px);
    font-weight: 600;
    opacity: .5;
}
.sc-card{
    width: 100%;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.orderLog{
    position: relative;
    bottom: -60%;
    padding: 20px 15%;
    margin-top: 5%;
    width: 100%;
}
.orderLog>p{
    color: grey;
    font-weight: 600;
    font-size: clamp(30px, 60px, 80px);
    opacity: .5;
}
#order-log{
    width: 100%;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
}
#order-log-details{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding:  20px;
    gap: 20px;
}
.table-bordered{
    margin-top: 3%;
}
.top-bar-sc-card{
    width: 100%;
    height: 40px;
    background-color: #00B9EF;
    padding-left: 5%;
}
.top-bar-sc-card p{
    color: #fff;
    opacity: 1;
}
.sc-card-content{
    padding: 5%;
}
.btn-warning{
    color: #fff;
}
#customer-c-w{
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-bottom: 3%;
}
#item-c-w{
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-bottom: 3%;
}
#order-top{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
#customer-pane{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#item-pane{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#order-pane{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#order-table{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* #itemDropdownMenuButton{
    background-color: #009C51;
}
#cusDropdownMenuButton{
    background-color: #009C51;
} */
#order-log-details{
    width: 100%;
}
#order-pane-middle{
    gap: 10px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%; 
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4),transparent);
    transition: .5s;  
}
.header:hover::after{
    left: 100%;
}
.logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    font-size: clamp(10px, 18px, 24px);
    cursor: pointer;
}
.nav-bar a:hover{
    color: #00B9EF;
}
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: clamp(15px, 18px, 24px);
    color: white;
    cursor: pointer;
    display: none;
}
@media all and (max-width: 992px){
    .header{
        padding: 10px 5%;
    }
}
@media all and (max-width: 768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .nav-bar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.nav-bar{
        height: 12.7rem;
    }
    .nav-bar a{
        display: block;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.nav-bar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}